<ng-container *ngIf="course">

    <div class="course-card" #container>

        <div class="course-title">
            {{ cardIndex || '' + ' ' + course.description }}
        </div>

        <ng-content select="course-image" *ngIf="course.iconUrl"></ng-content>

        <div class="course-description">
            Edit Title: <input #courseTitle [value]="course.description">
        </div>

        <ng-container [ngSwitch]="course.category">
            <div class="course-category">

                <ng-container *ngSwitchCase="'BEGINNER'">
                    <div class="category">BEGINNER</div>
                </ng-container>

                <ng-container *ngSwitchCase="'INTERMEDIATE'">
                    <div class="category">INTERMEDIATE</div>
                </ng-container>

                <ng-container *ngSwitchCase="'ADVANCED'">
                    <div class="category">ADVANCED</div>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <div class="category">ALL LEVELS</div>
                </ng-container>

            </div>
        </ng-container>

        <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>

    </div>

</ng-container>
