<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" alt="logo">
</div>

<div class="demo">
    <button (click)="onEditCourse()">Edit Course</button>
</div>

<!-- Do not Forget to use as much as possible the async pipe -->
<!-- If you are using OnPush Change Detection -->
<div class="courses" *ngIf="courses[0] as course">

    <course-card
                 (courseChanged)="save($event)"
                 type="beginner"
                 [course]="course">

        <course-image [src]="course.iconUrl"></course-image>

        <h5>Total Lessons: {{ course.lessonsCount }}</h5>

    </course-card>

</div>
