<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" alt="logo">
</div>

<div class="demo">
    <h4 i18n>Welcome to the Angular Core Deep Dive Course</h4>
    <button (click)="onEditCourse()" i18n>Edit Course</button>
</div>

<div class="courses">

    <course-card *ngFor="let course of (courses | filterByCategory: 'BEGINNER')"
                 (courseChanged)="save($event)"
                 type="beginner"
                 [course]="course">

        <course-image [src]="course.iconUrl"></course-image>

        <h5>Total Lessons: {{ course.lessonsCount }}</h5>

    </course-card>

</div>
