<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" alt="logo">
</div>

<button (click)="onCoursesEdited()">Edit Courses</button>

<div class="courses" *ngIf="courses[0] as course">
    <course-card (courseSelected)="onCourseSelected($event)" [course]="course">

        <div class="course-image">
            <img width="300" alt="Angular Logo" [src]="course.iconUrl">
            <h5>Total Lessons: {{ course.lessonsCount }}</h5>
        </div>

        <div class="course-description">
            {{ course.longDescription }}
        </div>

        <div>
            Edit Description: <textarea></textarea>
        </div>

    </course-card>
</div>
